
/* Sidebar Menu */
.sidenav {
    height: 100%;/* Full-height: remove this is you want "auto" height*/
    width: 160px; /* Set width of sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /*Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /*black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top:20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
    cursor: pointer;
    /* background-image: url("https://tse2.mm.bing.net/th?id=OIP.SBKDcybFbEWTKACSXLso2wHaCn&pid=Api");*/
}

/* Style page content */
.title {
    text-align: center;
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.introduction {
    margin-left: 160px;
    padding: 0px 10px;
}

/* Test */
.heading {
    text-align: center;
    margin-left: 160px;
    padding: 0px 10px;
    font-size: 25px;
}

.movie{
    min-width: auto;
    max-width: auto;
    min-height: auto;
    max-height: auto;
    margin-left: 160px;
    padding: 0px 10px;
}

.description {
    margin-left: 160px;
    padding: 0px 10px;
}

.bigButton{
    padding: 50px;
    min-height:auto;
    color:rgba(236, 155, 3, 0.733);
    text-align: center;
   

}
.bigButton:hover{
    min-height:auto;
    color:rgba(139, 91, 0, 0.733)
}



/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */

/*
body{
}
*/